.container {
    padding: 0 2rem;
}

.app_left {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main {
    min-height: 100vh;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.app_right {
    display: flex;
    flex-direction: column;
}

.app_right h3 {
    margin-bottom: 16px;
}

.graph {
    flex-grow: 1;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
}

.stats {
    display: flex;
}

@media (max-width: 990px) {
    .main {
        flex-direction: column;
    }
}
